<!-- event binding Way  -->

<!-- 
<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (ingrediantAdded)="onIngrediantAdded($event)"></app-shopping-edit>
        <hr>
       <ul class="list-group">
           <a class="list-group-item" 
           style="cursor: pointer;"
           *ngFor="let ingrediants of ingrediants">
           {{ingrediants.name}} ({{ingrediants.amount}})
        </a>
       </ul>
    </div>
</div> -->

<!-- Service Way  -->

<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
       <ul class="list-group">
           <a class="list-group-item" 
           style="cursor: pointer;"
           *ngFor="let ingrediant of (ingrediants | async)?.ingrediants; let i = index"
           (click)="onEditItem(i)">
           {{ingrediant.name}} ({{ingrediant.amount}})
        </a>
       </ul>
    </div>
</div>
<div class="row">
    <canvas #myCanvas id="my-canvase" width="600" height="400"></canvas>
</div>

